xrmIocApp/src/O.Common/
xrmIocApp/src/O.linux-arm/
xrmIocApp/src/O.linux-x86_64/
xrmIocApp/src/split2.h
xrmIocApp/Db
bin/
lib
opkg/
release/
# pgm
.cproject
.project
.settings/
TODO
configure/O.linux-arm/
configure/O.linux-x86_64/
include/
SAFE/
iocBoot/iocxrmIoc/envPaths
