xrmIocApp/src/split2.h
O.*/
bin/
lib
opkg/
db/*.template
db/*.substitutions
db/ch32.db
db/ch16.db
db/ch8.db
release/
# pgm
.cproject
.project
.settings/
TODO
configure/O.linux-arm/
configure/O.linux-x86_64/
include/
SAFE/
iocBoot/iocxrmIoc/envPaths
dbd/xrmIoc.dbd
notes/
